# Правила проекта
## Контекст
Калькулятор стоимости корпусной мебели
Стек: HTML, CSS, JavaScript. Без фреймворков и библиотек.
Уровень разработчика: начинающий.

## Структура
- index.html — разметка
- style.css — стили
- script.js - Логика: чтение полей, валидация, расчёт цены, вывод результата и детализации
- storage.js — работа с localStorage
- README.md	Описание проекта, формула расчёта, материалы и опции
- VERSION	Текущая версия (например, V7)
- .gitignore	Исключения для Git (например, *.tmp)


- Объясняй изменения простыми словами
- Не добавляй библиотеки и фреймворки
- Не усложняй без необходимости
- Не меняй файлы, которые не относятся к задаче
- Если нужно изменить что-то за пределами задачи — сначала скажи что и зачем
- Код должен быть понятен новичку